/* default font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
}