#main-content {
    z-index: -1;
    position: absolute;
    left: var(--nav-width);
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 40px;
}

@media only screen and (max-width: 600px) {
    #main-content {
        position: absolute;
        left: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
}