#navbar {
    background-color: var(--bg-light-color);
    box-shadow: 4px 0 1em -3px var(--nav-color);
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    transition-property: background-color;
    transition-duration: 100ms;
}

#nav-items {
    color: var(--font-color);
    list-style: none;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-items li {
    width: var(--nav-width);
    height: var(--nav-width);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 200ms;
}

#nav-items li svg {
    width: calc(var(--nav-width) - 20px);
    height: calc(var(--nav-width) - 20px);
    transition-property: color;
    transition-duration: 200ms;
}

#nav-items li:hover {
    background-color: var(--theme-blue);
    cursor: pointer;
}

#nav-items li:last-child {
    position: fixed;
    bottom: 0px;
}

.tooltip {
    position: absolute;
    left: 80px;
    z-index: 999;
    display: none;
    background-color: var(--bg-light-color);
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    color: var(--font-color);
    width: 7em;
    box-shadow: 4px 0 1em -3px var(--nav-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/* disable navbars and show a menu when screen width is smaller than 600px */
@media screen and (max-width: 600px) {
    #navbar {
        display: none;
    }
}