#navbar {
    background-color: var(--bg-light-color);
    box-shadow: 4px 0 10px -3px var(--nav-color);
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

#nav-items {
    color: var(--font-color);
    list-style: none;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-items li {
    width: var(--nav-width);
    height: var(--nav-width);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 200ms;
}

#nav-items li svg {
    width: calc(var(--nav-width) - 20px);
    height: calc(var(--nav-width) - 20px);
    transition-property: color;
    transition-duration: 200ms;
}

#nav-items li:hover {
    background-color: var(--theme-blue);
    cursor: pointer;
}

#nav-items li:last-child {
    position: fixed;
    bottom: 0px;
}