.in-construction {
    font-family: 'Inter', sans-serif;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
}

.in-construction h1 {
    font-size: calc(3vw + 5vh);
    letter-spacing: -3px;
}

.in-construction p {
    padding-top: 50px;
    font-family: sans-serif;
}